<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Star Wars Millenium Falcon Pi Control</title>

  
  
  <meta content="Paul-Eric Lagace Trevor Gertridge" name="author">

  
  <meta content="controls led motion and sounds from a pi" name="description">

  
  <style type="text/css">
.containerdiv { float: left; position: relative; }
.cornerimage { position: absolute; top: 0; right: 0; }
  </style>
  <title></title>

  
  
  <style type="text/css"> 
.containerdiv { float: left; position: relative; } 
.cornerimage { position: absolute; top: 0; right: 0; } 
      </style>
  
  <style>
border-width:20px;
border-style:solid;
border-color:#cebf2e;
  </style>
</head><body style="color: rgb(0, 0, 0); background-color: rgb(51, 51, 51);" alink="#000099" link="#000099" vlink="#990099">
<table style="text-align: left; width: 1200px; height: 800px; margin-left: auto; margin-right: auto; background-color: rgb(255, 204, 51);" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: middle; text-align: center;">
      <table style="font-family: Helvetica,Arial,sans-serif; color: rgb(229, 177, 58); text-align: left; margin-left: auto; margin-right: auto;" class="sample" width:="" background-color:="" height:="" margin-left:="" margin-right:="" color:="" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="vertical-align: middle; height: 100px; width: 100px; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big><br>
            </big></big></big></td>
            <td style="vertical-align: middle; width: 35%; height: 100px; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Clamp
LED </big></big></big> </td>
            <td style="vertical-align: middle; height: 100px; width: 35%; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Landing
LED </big></big></big> </td>
            <td style="vertical-align: top; height: 100px; width: 100px; background-color: rgb(102, 102, 102);"><br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Head<br>
Lights<br>
            </big></big></big> </td>
            <td colspan="2" rowspan="2" style="vertical-align: middle; height: 500px; width: 1050px; text-align: center; background-color: rgb(102, 102, 102);">
            <div style="background-color: black;" class="containerdiv">
            <img style="border: 0px solid ; width: 649px; height: 493px; top: 50px; left: 200px;" alt="" src="../img/falcone_bottom.png" class="cornerimage"><img style="border: 0px solid ; width: 1024px; height: 565px;" src="../img/cockpit.gif" alt="">&nbsp;
            <div style="background-color: black;"><big><big><big>Control
your
Millenium Falcon LED and Motion </big></big></big><br>
            <br>
            </div>
            </div>
            </td>
            <td style="vertical-align: middle; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Engine<br>
Lights</big></big></big> </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Com<br>
Dish<br>
            </big></big></big> </td>
            <td style="vertical-align: middle; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Engine<br>
Sounds</big></big></big> </td>
          </tr>
          <tr>
            <td style="vertical-align: top; height: 100px; width: 100px; background-color: rgb(102, 102, 102);"><br>
            </td>
            <td style="vertical-align: middle; width: 35%; text-align: center; background-color: rgb(102, 102, 102);"><big><big><big>Top
Turret </big></big></big> </td>
            <td style="vertical-align: middle; text-align: center; width: 35%; background-color: rgb(102, 102, 102);"><big><big><big>Bottom
Turret</big></big></big> </td>
            <td style="vertical-align: top; height: 100px; width: 100px; text-align: center; background-color: rgb(102, 102, 102);"><img style="height: 90px;" alt="pilogo" src="../img/raspberrypi.png"> </td>
          </tr>
        </tbody>
      </table>
</td>
    </tr>
  </tbody>
</table>

<br>

<br>

</body></html>